.cabecalho{
    background-color: rgba(0,0,0, 0.5);
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#textTitulo{
    width:100%;
    text-align: center;
    font-size: 40px;

}
#h1titulo{
    color: #ffffff;
    font-size: 40px;
    height: 100%;
    width: 100%;
}
#divFiltros{

    background-color:#ffffff;
    border-color: black;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    top:15%;
    position: absolute;
    height: 80px;
    width:100%;
    text-align: center;
}
#btnFiltros{
    display: flexbox;
    margin-inline-start: 91%;
    margin-top:18px;
    text-align: center;
    font-size: 15px;
    height:40px;
    width:90px;
    border-radius: 5px;

}
#iconeFiltro{
    padding-right: 3px;
}
#divOpcoes{
    text-align: left;
    display: flex;
    margin-inline-start: 89%;
    border-width: 2px;
    top:5%;
    position: absolute;
    height: 60px;
    width:200px;
}
#divPerfil{
    border-radius: 25px;
    margin-inline-end: 15%;
    height: 49px;
    width: 49px;
    display: flex;
}
#btnPerfil{
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 50px;
}
#divDefinirLocal{
    display: flexbox;
    text-align: start;
    margin-right: 5%;
    height:50px;
    width: 120px;
}
#btnDefinirLocal{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    
}
#imgPais{
    border-radius: 50px;
    height: 100%;
    width: 100%;

}
#divImgPais{
    margin-left: 59%;
    height: 45px;
    width: 45px;
}
#paisAtual{
    position: absolute;
    text-align: justify;
    width: 20px;
    height: 100%;
    margin-top: 7%;
    margin-inline-start: 11%;
}
#propriedadesExistentes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    width: 100%;
    margin-top: 60px;
}
.propriedadeIcone{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(226, 226, 226) ;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 360px;
    border-radius: 15px;
}
.fotoPropriedade{
    border-radius:15px;
    height: 70%;
    width: 100%;
}
.infoImoveis{
    height: 30%;
    width: 100%; 
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-columns: 70% 30%;
}
.endereco{
    margin-top: 30px;
    width: 85%;
    margin-left: 7%;
    text-align: left;
    font-weight: 700;
}
.numCom{
    width: 85%;
    margin-left: 7%;
    text-align: left;
    font-weight: 400;
}
.preco{
    margin-top: 30px;
    width: 85%;
    margin-right: 7%;
    text-align: right;
    font-weight: 700;
}

#botaoAddNovoImovel{
    width: 250px; 
    height: 60px;
    border-radius: 15px;
}

.propriedadeImg{
    border-radius:15px;
    height: 100%;
    width: 100%;
}
.infoPropriedade{
     padding-left: 4%;   
     padding-right: 4%;
    display: grid;
    gap:5%;
    grid-template-columns: 1fr 1fr;
    margin-top: 3%;
}

.preco{
     top:30%;
}
#imagem_fundo
{
     z-index: 0;
     width: 100%;
     height: 100%;
}