html, body
{
     overflow-x: hidden;
     z-index: 0; 
     padding: 0px;
     margin: 0px;
     min-height: 100%;
     background-attachment: fixed;
     background-color: #ffffff;
     font-family: 'poppins';
}
#imagem_fundo
{
     width: 100vw;
     height: 100vh;
     z-index: 0;
}
#textVoltar{
     font-size: 24px;
     font-weight: 470;
     color: #000000;
     margin-top: 0;
     margin-bottom: 0;
}
#div-Back{
     background: linear-gradient(to bottom, #e3e3e3 0%, #BEBEBE 90%, #A6A6A6 94%, #808080 100%); 
     z-index: 0; 
     width: 100vw;
}
#seta_voltar
{
     transform: rotate(180deg);
     width: 35px;
     height: 28px;
     z-index: 4;
}

#divVoltar{
     display: flex;
     margin-top: 18px;
     margin-left: 18px;
     text-align: center;
     justify-content: center;
     align-items: center;
     position: relative;
     z-index: 4;
 }

 #buttonVoltar{  
     width: 40px;
     height: 40px;
     background-color: white;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 8px;
     border: 1px solid black;
     z-index: 4;
}
#buttonVoltar:hover{
     border: 2px solid black;
}