
#div-Login{
    width: 1298px;
    height: 676px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px  rgba(0,0,0, 0.25);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    backdrop-filter: blur(6px);
}
.div-input{
    width: 418.01px;
    height: 88.52px;
}

.form-floating{
width: 418px;
height: 60px;
  
}
.form-control{
    width: 418px;
    height: 60px;
    background-color: #f0f0f0;
    border: 1.18px solid rgba(0, 0, 0, 0.5);
    border-radius: 14.17px;
}
.form-control:focus{
    background-color: #f0f0f0;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    border: 2.3px solid rgba(0,0,0,0.7);
}
.label-input{
    color: #545454;
    font-size: 18.89px;
}
input::placeholder{
    font-size: 20px;
    color: rgba(0,0,0,0.3);
}
#logintext{
    font-size: 36px;
    margin-top: 20px;
}

#outext{
     font-size: 36px;
     margin: 0px;
 }

.barrasCentrais{
    height: 200px;
    width: 0.5px;
    background-color: black;
}
#barra1{
    top:15%;
}
#barra2{
    bottom:15%;
}
.div-form-login{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 30px;
}

#form-alinhar
{
     display: flex;
     flex-direction: column;
     align-items: center;
}
#botLogar{
    border-radius: 30.49px;
    background-color: #9D4EDD;
    width: 337.29px;
    height: 53.36px;
    font-size: 20.96px;
    color: white;
    border: 0px;
    left: 50%;
}
#divBotLogar{
    margin-top: 30px;
    position: relative;

}

#botCadastrar{
    border-radius: 30.49px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 337.29px;
    height: 53.36px;
    font-size: 20.96px;
    color: white;
    border: 0px;
    left: 50%;
}
#divBotCadastro{
    margin-top: 30px;
    position: relative;
}

#google{
 margin-bottom: 11px;
} 
#facebook{
    margin-top: 11px;
}

.login-alternativo
{
     width: 354px;
     height: 56px;
     border-radius: 40px;
     background-color: rgb(255, 255, 255);
     border: 1px solid #333333;
     display: flex;
     align-items: center;
     justify-content: center;
     
}

.text-center{
    font-size: 20px;
    color: #333333;
    padding-left: 15px;
    
}

.imgs{
    width:32px;
    height:32px;
}
.cadastre-se
{   
     font-size: 24px;
     font-weight: 470;
     color: #050062;
}
.NaoPossui{
    font-size: 24px;
    font-weight: 490;
    color: black;
}

#div-cadastro
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
