
#partSuper{
    display: flex;
    height: 100px ;
}
#boxSearch{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#pesquisa{
    width: 430px;
    height: 48px;
    background-color: white;
    border-radius: 37px;
    border: 1px solid black;
    box-shadow: 0px 2px 8px rgba(0,0,0, 0.25);
    padding-left: 20px;
}
#pesquisa :focus{
    border: 2px solid black;
    box-shadow: 0px 2px 8px rgba(0,0,0, 0.25);
}
#pesquisa::placeholder{
    color: rgba(0,0,0,0.4);
    font-size: 20px;
    padding-left: 10px;
}
#lupaPes{
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
#lupaPes:hover{
    border: 2px solid black;
}
#lupa{
    height: 30px;
    width: 30px;
}
#textNameLocal{
    font-size: 30px;
    color: black;
}
#colorBack{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    display: flex;
    border-radius: 20px;
}
#infoImovel{
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.carousel{
    margin-top: 30px;
}
.d-block{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  transform: scale(1.2);
  filter: brightness(1.9); 
}
.textInfo{
    font-size: 25px;
    color: black;
}

#infoParteBaixa{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#InformacoesLocal{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
#agendarReserva{
    display: flex;
    width: 100%;
    background-color:white;
    border: 1px solid black;
    border-radius: 20px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#valorDiaria{
    color: black;
    font-size: 24px;
}
