body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
#partSuper{
    display: flex;
    height: 100px ;
}
#boxSearch{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#pesquisa{
    width: 430px;
    height: 48px;
    background-color: white;
    border-radius: 37px;
    border: 1px solid black;
    box-shadow: 0px 2px 8px rgba(0,0,0, 0.25);
    padding-left: 20px;
}
#pesquisa :focus{
    border: 2px solid black;
    box-shadow: 0px 2px 8px rgba(0,0,0, 0.25);
}
#pesquisa::placeholder{
    color: rgba(0,0,0,0.4);
    font-size: 20px;
    padding-left: 10px;
}
#lupaPes{
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
#lupaPes:hover{
    border: 2px solid black;
}
#lupa{
    height: 30px;
    width: 30px;
}
#textNameLocal{
    font-size: 30px;
    color: black;
}
#infoImovel{
    width: 75%;
    margin-left: 12.5%;
    margin-top: 30px;
    margin-right: 12.5%;
    display: flex;
}
