
body{
    background-color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
}
#divtitulo{
    margin-top: 3%;
    display: flex;
    position: absolute;
    text-align: center;
    padding-top: 40px;
    height: 100px;
    width: 300px;
   
}
#h1titulo{
    font-size: 40px;
    height: 100%;
    width: 100%;
}
#divFiltros{

    background-color:#DFDFDF;
    border-color: black;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    top:15%;
    position: absolute;
    height: 80px;
    width:100%;
    text-align: center;
}
#btnFiltros{
    display: flexbox;
    margin-inline-start: 93%;
    margin-top:18px;
    text-align: center;
    font-size: 15px;
    height:40px;
    width:90px;
    border-radius: 5px;

}
.fa-solid{
    padding-right: 3px;

}

#divVoltar{
    display: flex;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2.3%;
    margin-left: 15px;
    position: relative;
}
#h3Voltar{
    display: flexbox;
    padding-top: 8px;


}
#buttonVoltar{  


    width: 49px;
    height: 49px;
    background-color: white;
    border-radius: 50%; 
}
#divOpcoes{
    display: flex;
    margin-inline-start: 93%;
    border-width: 2px;
    top:5%;
    position: absolute;
    height: 60px;
    width:200px;
    text-align: center;
}
#divPerfil{
    border-radius: 20px;
    margin-left: 2%;
    height: 40px;
    width: 40px;
    display: flex;
}
#btnPerfil{
    height: 49px;
    width: 49px;
    align-items: center;
    border-radius: 20px;
}
#divDefinirLocal{
    height:49px;
    width: 49px;

}