
body{
    background-color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
}
#divtitulo{
    position: absolute;
    text-align: center;
    padding-top: 40px;
    height: 200px;
    width: 1200px;
}
#h1titulo{
    font-size: 160px;
    height: 100%;
    width: 100%;
}
#divFiltros{
    background-color: ;
    border-color: black;
    border-left: 0px;
    border-right: 0px;
    border-style:solid;
    border-width: 2px;
    top:15%;
    position: absolute;
    height: 300px;
    width:100%;
}
#btnFiltros{
    position: absolute;
    margin-inline-start: 95%;
    margin-top:70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 17px;
    padding-right: 15px;
    font-size: 40px;
    height:150px;
    width:300px;
    border-radius: 15px;

}

#divVoltar{
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
    position: relative;
}
#idVoltar{
left: 20%;
top: 50%;
position: absolute;
}
#buttonVoltar{  
    position: absolute;
    left: 0%;
    width: 49px;
    height: 49px;
    background-color: white;
    border-radius: 50%; 
}