body{
    overflow-y: hidden;
}
.cabecalho{
    background-color: rgba(0,0,0, 0.5);
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#textTitulo{
    width:100%;
    text-align: center;
    font-size: 40px;

}
#h1titulo{
    color: #ffffff;
    font-size: 40px;
    height: 100%;
    width: 100%;
}
#div-aparecer-propriedade{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     width: 100%;
     margin-top: 60px;
}
.propriedadeIcon{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 194, 194) ;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 380px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}
.fotoPropriedade{
    border-radius:15px;
    height: 70%;
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
 }
 .propriedadeImg{
    border-radius:15px;
    height: 100%;
    width: 100%;
}
 .infoImoveis{
    height: 30%;
    width: 100%; 
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-columns: 70% 30%;
}
.endereco{
    margin-top: 30px;
    width: 85%;
    margin-left: 7%;
    text-align: left;
    font-weight: 700;
    overflow-x: hidden;
    overflow-y: hidden;
}
.numCom{
    width: 85%;
    margin-left: 7%;
    text-align: left;
    font-weight: 400;
    margin-bottom: 30px;
}
.preco{
    margin-top: 30px;
    width: 85%;
    margin-right: 7%;
    text-align: right;
    font-weight: 700;
    overflow-x: hidden;
     overflow-y: hidden;
}

 #localizacão{
     margin-left: 7%;
 }

 
 #div-mapa
{
     width: 100%;
     height: 100%;
}

 #mapa
 {
     border-radius: 5px;
     width: 100%;
     height: 100vh;
 }


